* {
    border: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #757575;
}

ul {
    list-style-type: none;
}

.cv-main {
    padding: 5px;   
}

.cv-main>section {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

#Me>section:not(:first-child) {
    padding: 0px 18px 18px;
}

#Work-Experience {
    padding: 0px 18px 18px;
}

.Me-Picture img {
    width: 100%;
}

.meter {
    margin: 10px;
    height: 15px;
    position: relative;
    background: #f1f1f1;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.span {
    display: inherit;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background: rgb(43, 194, 83);
    border-radius: 25px;
}

/*Desktop*/
@media only screen and (min-width: 1000px) {
    #Me {
        width: 30%;
    }

    #Work-Experience {
        width: 70%;
    }
}